/* Border box by default */
html {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Disable link decorations */
a {
    color: black;
    text-decoration: none;
}

body {
    display: flex;
    /* min-height: 100vh; */
    flex-direction: column;

    margin: 0;

    background: #fcfcf8;
    font-family: 'Inconsolata', monospace;
}

/* Body desktop modifications */
@media screen and (min-width: 768px) {
    body {
        margin: auto;
        max-width: 768px;
    }
}

/* Header styling */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    padding: 8px 16px;

    font-size: 1.2em;
    text-align: center;
}

header a {
    display: block;
    text-decoration-line: none;
    font-weight: bold;
}
header a:first-child {
    flex-basis: 100%;
    flex-shrink: 0;
}
header a:hover {
    text-decoration-line: underline;
    text-decoration-style: dashed;
}
header a.selected {
    text-decoration-line: underline;
    text-decoration-style: solid;
}

header .header-item {
    padding: 8px 16px;
}

header .header-title {
    font-size: 1.3em;
}

/* Header desktop modifications */
@media screen and (min-width: 768px) {
    header {
        justify-content: start;
    }

    header a:first-child {
        flex-basis: auto;
        flex-shrink: 1;
    }
}

/* Footer styling */
footer {
    margin-top: auto;
}

footer > div {
    margin: 0px 32px 16px;
    color: #404040;
}

/* Paragraph Break */
hr {
    border: 1px solid black;
    margin: 0px 16px 16px;
}

/* Article Styling */
article {
    margin: 0px 32px 16px;
}

section {
    margin: 0px 0px 8px;
}
section::after {
    content: "";
    display: table;
    clear: both;
}

h1, p, ul {
    margin: 0px 0px 8px;
}

h1 {
    font-style: italic;
    text-decoration: underline;
    font-weight: bold;
}

a {
    text-decoration-line: underline;
    text-decoration-style: dashed;
}

a:hover {
    text-decoration-style: solid;
}

a.selected {
    text-decoration-style: solid;
}

ul {
    list-style: none;
    padding: 0px 0px 0px 24px;
}

ul p {
    margin: 0px 0px 4px;
}

li {
    margin: 0px 0px 4px;
    list-style-type: "* ";
}

li::marker {
    font-weight: bold;
}

li ul li {
    margin: 4px 0px 0px;
    list-style-type: "- ";
}

li ul li::marker {
    font-weight: bold;
}

img {
    display: block;
    margin: 0px auto 16px;
    box-shadow: 2px 2px 2px black;
}

/* My Picture */
img.my-picture {
    width: 70%;
    max-width: 250px;
}

/* My Picture desktop modifications */
@media screen and (min-width: 768px) {
    img.floating-img {
        float: right;
        margin: 0px 0px 8px 8px;
    }

    img.my-picture {
        width: 35%;
    }
}
