
/* Border box by default. */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* html and body settings. */
html {
    background: #fcfcf8;
    color: #000000;

    font-family: 'Roboto', sans-serif;

    line-height: 1.5;

    -webkit-text-size-adjust: none;
    text-size-adjust: none;

    transition: background-color 0.2s;
}

html, body {
    height: 100%;
}

body {
    margin: 0;

    display: flex;
    flex-direction: column;
}

/* Body desktop modifications. */
@media screen and (min-width: 768px) {
    body {
        margin: auto;
        max-width: 768px;
    }
}

/* Horizontal rule. */
hr {
    margin: 0.5em 0;

    border: 1px solid black;
}

/* Headers and text. */

h1, h2 {
    font-family: 'Inconsolata', monospace;
    font-style: italic;
}

h1 {
    font-weight: 800;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0.5em 0 0.25em 0;

    line-height: 1.2;
}

p {
    margin: 0 0 0.5em 0;
}

/* Underlines. */
h1, h2, h3, a {
    text-decoration-line: underline;
    text-decoration-color: #000000;

    text-decoration-thickness: 0.05em;
    text-underline-offset: 0.1em;
}

/* Links. */
a {
    color: black;
    font-weight: bold;
    text-decoration-style: dashed;
}

a:hover {
    text-decoration-style: solid;
}

/* Lists. */
ul {
    margin: 0 0 0.5em 0;
    padding: 0 0 0 1.5em;

    list-style: none;
}

ul > li {
    margin: 0 0 0.25em 0;

    list-style-type: "* ";
}

ul > li::marker {
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
}

li > p {
    margin: 0 0 0.25em 0;
}

li > ul {
    margin: 0 0 0.25em 0;
}

li > ul > li {
    margin: 0.25em 0 0 0;

    list-style-type: "- ";
}

/* Images. */
img {
    display: block;
    margin: 16px auto;
    box-shadow: 2px 2px 2px black;

    width: auto;
    height: auto;

    max-width: 50%;
    max-height: 50vh;

    image-rendering: -webkit-optimize-contrast;
}

/* Floating. */
@media screen and (min-width: 768px) {
    .float-right {
        margin: 8px 0px 8px 16px;
        float: right;

        max-width: 30%;
    }

    .float-left {
        margin: 8px 16px 8px 0px;
        float: left;

        max-width: 30%;
    }

    /* Clearfix. */
    .clearfix {
        content: "";
        display: table;
        clear: both;
    }
}

/* Dark mode. */
html.dark-mode {
    background: #121212;
    color: #dddddd;
}

.dark-mode h1, .dark-mode h2, .dark-mode h3, .dark-mode a {
    text-decoration-color: #dddddd;
}

.dark-mode a {
    color: #dddddd;
}

.dark-mode hr {
    border-color: #999999;
}
/* Header styling. */
.header {
    margin: 0 1em;
    position: relative;

    font-family: 'Inconsolata', monospace;
    line-height: 1.1;
}

.header__dark-mode-toggle-container {
    display: flex;
    height: 100%;
    position: absolute;
    right: 0.5em;

    align-items: center;
}

.header__dark-mode-toggle {
    font-size: 1.25em;
    opacity: 75%;
    cursor: pointer;
    filter: drop-shadow(1px 1px 2px black);
}

.header__dark-mode-toggle:before {
    content: "🌙";
}

.header__items {
    margin: 1em;

    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
    gap: 0.75em 2em;
}

.header__title-container {
    flex-basis: 100%;
    flex-shrink: 0;
}

.header__title {
    margin: auto;
    display: block;
    width: fit-content;

    font-size: 1.5em;
    text-align: center;

    text-decoration-line: none;
}

.header__title:hover {
    text-decoration-line: underline;
    text-decoration-style: dashed;
}

.header__title--selected {
    text-decoration-line: underline;
    text-decoration-style: solid;
}

.header__title:hover.header__title--selected {
    text-decoration-style: solid;
}

.header__page {
    font-size: 1.25em;

    text-decoration-line: none;
}

.header__page:hover {
    text-decoration-line: underline;
    text-decoration-style: dashed;
}

.header__page--selected {
    text-decoration-line: underline;
    text-decoration-style: solid;
}

.header__page:hover.header__page--selected {
    text-decoration-style: solid;
}

.header__border {
    margin: 0;
}

/* Header desktop modifications */
@media screen and (min-width: 768px) {
    .header__items {
        justify-content: start;
    }

    .header__title-container {
        flex-basis: auto;
    }

    .header__title {
        margin: 0;
        display: inline;
        width: auto;

        text-align: start;
    }
}

/* Dark mode. */
.dark-mode .header__dark-mode-toggle {
    filter: none;
}

.dark-mode .header__dark-mode-toggle:before {
    content: "☀️";
}
/* Footer styling. */
.footer {
    margin: 0 1em;

    font-family: 'Inconsolata', monospace;
    line-height: 1.1;
}

.footer__border {
    margin: 0;
}

.footer__copyright {
    margin: 1em;

    color: #404040;

    text-align: center;
}

/* Dark mode. */
.dark-mode .footer__copyright {
    color: #dddddd;
}
/* Main styling */
main {
    flex-grow: 1;
}

.main__content {
    margin: 16px 32px;
}
