---
title: Tiernan O'Rourke
---

<!doctype html>
<html>

<head>
    {% include 'head.njk' %}
</head>

<body>
    <header class="header">
        {% include 'header.njk' %}
    </header>

    <main class="main">
        {{ content | safe }}
    </main>

    <footer class="footer">
        {% include 'footer.njk' %}
    </footer>
</body>

</html>
